* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(blue 50%, white 100%);
}

h1 {
  margin-top: 10%;
}

.location-form {
  margin: 5% auto;
  padding: 0;
  justify-content: center;
}

.content {
  border: 1px aliceblue solid;
  border-radius: 20px;
  padding: 60px;
}

.big-size {
  font-size: 60px;
}

.city-span {
  align-self: end;
}

span {
  padding-left: 5px;
}
